@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


.App {
  text-align: center;
}

select {
  direction: rtl;
  text-align-last:left; 
}
option{
  text-align-last:left; 
}

.headingAndStars h5{
  display: inline;
  vertical-align: top;
}

.boxShadow{
  -webkit-box-shadow: 10px 10px 14px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 14px -5px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 14px -5px rgba(0,0,0,0.75);
}


.headingAndStars p{
  float:right;
  vertical-align: top;
}
.navbar{
  padding:18px;
}
.lowPad{
  padding:9px !important;
}


*{
  word-wrap: break-word;
  font-family: 'Roboto', sans-serif;
  
}

a{
  font-family: 'Open Sans', sans-serif !important;
  
}

.badge{
  padding: 7px;
  padding: 0.3em 0.9em;
  margin: 0 0.5em 0.5em 0;
  white-space: nowrap;
  color : #0366d6;
  border-radius:0; 
  line-height: 1.5;
  font-size: 12px;
  font-family: "Segoe UI"
}
.badge-primary{
  background-color: #f1f8ff !important;
}

@media only screen and (max-width: 600px) {
  p,span{
    font-size: 12px;
  }
}